# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/

# Environment variables
.env
.flaskenv

# IDE-specific files
.vscode/
.idea/

# Logs
*.log
